{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-base", "airbnb-typescript/base", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "project": ["./tsconfig.eslint.json"]
  }
}
